.creator {
  margin-top: 200px;

  &_heading {
    text-align: center;
    margin-bottom: 10px;
  }

  &_desc {
    max-width: 423px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &_gallery {
    display: grid;
    grid-template-columns: repeat(3, 389px);
    grid-gap: 15px 15px;
    justify-content: space-between;
    border-radius: 10px;
  }

  &_card {
    max-width: 389px;
    max-height: 525px;
    overflow: hidden;
    background-color: $gray-color;
    border-radius: 10px;
  }
  &_card.is-active,
  &_card:hover {
    background: $gray-color-light;
  }
  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 389px;
    max-height: 261px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &_avatar {
    margin: 0 auto;
    transform: translateY(-50%);
    max-width: 99px;
    max-height: 99px;
    overflow: hidden;
    border-radius: 100px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &_content {
    margin-top: -22px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &_author {
    color: white;
    text-align: center;
    margin: 0 auto;
  }

  &_info {
    margin: 10px auto 22px auto;
    max-width: 307px;
    text-align: center;
  }

  &_btn {
    margin: 0 auto;
    max-width: 337px;
    width: 100%;
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

@media screen and (max-width: 1919px) {
  .creator_gallery {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 389px;
    grid-auto-flow: column;
    grid-gap: 0 30px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .creator_gallery::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .creator_gallery > * {
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 1023px) {
  .creator {
    margin-top: 50px;
  }
}

@media screen and (max-width: 599px) {
  .creator_gallery {
    grid-auto-columns: 280px;
    grid-gap: 0 5px;
  }
  .creator_style {
    width: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .creator_item {
    width: fit-content;
  }
  .creator_btn {
    width: 80%;
  }
}
