.hero {
  margin-top: 100px;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 116px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    max-width: 490px;
  }

  &_heading {
    margin-bottom: 10px;
  }

  &_desc {
    margin-bottom: 30px;
  }

  &_btn {
    display: flex;
    gap: 0 20px;
    margin-bottom: 40px;
  }

  &_data {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &_image {
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
    align-items: center;
    max-width: 591px;
    max-height: 517px;
    &-item:nth-child(2) {
      display: flex;
      align-items: center;
      height: 220px;
      width: 187px;
      overflow: hidden;
      justify-content: center;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    align-items: center;
  }
}

@media screen and (max-width: 1260px) {
  .hero_image-col3 {
    display: none;
  }

  .hero_container {
    justify-content: center;
    gap: 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    margin-top: 50px;
  }
  .hero_image-col2 {
    display: none;
  }

  .hero_container {
    gap: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .hero_container {
    gap: 0 20px;
  }
  .hero_content {
    max-width: 400px;
  }
}

@media screen and (max-width: 599px) {
  .hero_container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px 0;
  }

  .hero_heading {
    font-size: 30px;
  }
}
