$font: "Poppins", sans-serif;
$text-color: rgba(255, 255, 255, 0.5);
$heading-color: white;
$bg-grd: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
$gray-color-light: rgba(255, 255, 255, 0.5);
$gray-color: rgba(255, 255, 255, 0.1);
